#calendar{
    font-family: 'Jua', sans-serif;
    background-color: var(--white-opercity);
    border-radius: 10%;
    padding: var(--padding);
}

#calendar h2{
    font-size: var(--small);
}

#calendar button {
    font-size: var(--small);
}