:root{
    /* size */
    --padding: 16px;
    --margin: 16px;
    --minus-margin: -22px;
    --large: 18px;
    --medium: 16px;
    --small: 12px;
    --img-width: 500px;
    --img-height: 300px;

    /* color */
    --black: #000000;
    --black-opercity: rgba(0, 0, 0, 0.5);
    --white:#ffffff;
    --light-green:#e0f2f1;
    --green:#80cbc4;
    --light-yellow: #fff59d;
    --gray: #9e9e9e;
    --dark-gray: #707070;

}

.imgSlider{
    background-color: var(--white-opercity);
}

#container{
    position: relative;
    max-width: 300px;
    max-height: 200px;
    margin: auto;
}

.slide img{
    height: 200px;
    width: 300px;
}

.slide p{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: var(--minus-margin);
    padding: var(--padding);
    color: var(--white);
    user-select: none;
}


.next{
    right: 0;
}

.prev:hover, .next:hover{
    background-color: var(--black-opercity);
    border-radius: 15%;
}

.dots{
    position: relative;
    text-align: center;
    margin-top: calc(var(--margin)/2);
}

.dot{
    background-color: var(--gray);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.active, .dot:hover{
    background-color: var(--dark-gray);
}