:root{
    /* size */
    --padding: 16px;
    --margin: 16px;
    --large: 18px;
    --medium: 16px;
    --small: 12px;
    --img-width: 500px;
    --img-height: 300px;

    /* color */
    --black: #000000;
    --gray: rgb(209, 209, 209);
    --dark-gray: rgb(128, 128, 128);
    --gray-opercity: rgba(209, 209, 209, 0.7);
    --black-opercity: rgba(0, 0, 0, 0.5);
    --white-opercity: rgba(255, 255, 255, 0.5);
    --white:#ffffff;
    ---light-back: #faf1e9;
    --light-back: #f7e5d5;
    --num-white:#fafafa;
    --back-white:#f3f3f3;
    --dark-white: #aaaaaa;
    --light-beige: #f7eae7;
    --back-beige: #f8ddd7;
    --hover-beige: #f3cec6;
    --dark-beige: #db9b7e;
    

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 20px;
    margin: 0 150px;
    justify-content: space-around;
    /* background-color: var(--white-opercity); */
    
}
#greeting{ 
    flex-basis: 10%;
}

#clock{
    flex-basis: 20%;
}

.main{
    flex-basis: 60%;
}

#quote{
    flex-basis: 10%;
}

.caculatorBack{
    grid-row: span 2;
}

.todo{
    grid-row: span 2;
}


/* .imgAndCal{
    display: flex;
    flex-direction: column;
} */

.hidden{
    display: none;
}