.todoList{
    background-color: var(--white-opercity);
    border-radius: 10%;
    text-align: center;
    padding-top: var(--padding);
}

#todoForm input{
    border: none;
    background-color: var(--opercity);
    border-bottom: solid 3px var(--white);
    height: 40px;
    width: 200px;
}

#todoForm input::placeholder{
    color: var(--white);
    font-size: var(--large);
    text-align: center;
}
